
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    font-family: 'Raleway', sans-serif;
}


ul{list-style: none;}

.container{
    position: absolute;
    float: left;
    width: 30%;
}

.rightBlock{
    right:15%;
}

.leftBlock{
    left:15%;
}

.container li{
    margin-bottom: 20px;
    border-bottom: 1px solid #a9a9a9;
    padding-bottom: 20px;

}

.content{
    margin:auto;
    width: 50%;
}


a{
    text-decoration: none;
    display: inline-block;
    border: 1px solid #b4b4b4;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 13pt;
}

a:hover{
    background-color: #b4b4b4;
}
.heading{
    margin: 10px;
}

.badge{
    color: #7d7d7d;
}

.heading{
    text-align: center;
    margin-bottom: 20px;
    color: #a0a0a0;
}

a span{
  vertical-align:middle;
}

.source{
    text-align: right;
    float: right;
    margin-top: 7px;
}

.back_link{
    width: 110px;
    height: 30px;
    position: absolute;
    left: 3%;
    top: 3%;
}

.readMore{
    width: 120px;
    height: 30px;
    margin-top: 7px;
}

.text-align{
    text-align: center;
}